@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --gradient-primary: linear-gradient(45deg, #00FF87, #60EFFF);
  --color-background: #ffffff;
  --color-primary: #00FF87;
  --color-secondary: #60EFFF;
  --color-tertiary: #3F84E5;
  --color-quaternary: #F18F01;
  --color-black: #111111;
}

html {
  min-height: 100dvh;
}

body {
  color: var(--color-black);
  font-family: 'Inter', sans-serif;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}
